
.logo-font {
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text; 
  background-clip: text;
  animation: fontChange 5s ease infinite;
  background-size: 200% 200%;
  z-index: 10;
overflow: auto;
}
@keyframes fontChange {
  0%,
  100% {
    background-position: 0%, 50%;
  }
  50% {
    background-position: 100%, 50%;
  }
}

.animate-div {
  animation: animate-gradient 5s ease infinite;
  background-size: 200% 200%;
}

