
@media (max-width: 768px) {

  .project-info {
    display: flex;
    flex-direction: column;

  }

}
@media (max-width: 1024px) {
.project-info{
    font-size: small;
}
.project-points{
    font-size: large;
}
.main-image{
   width: 21rem;
}
}