.skills-section {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.skills {
  width: 100%;
  height: 100%;
  display: grid;
  row-gap: 1.5rem;
  column-gap: 1.4rem;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  align-items: center;
  margin: 0 auto;
  background-color: transparent;
}
article.skill-info {
  /* border: dashed 2px white; */
  height: 11rem;
  padding: 0.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.icons {
  width: 5rem;
  margin: 0 auto;
  background-color: transparent;
}
.icons img {
  background-color: transparent;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.icons-para {
  background-color: transparent;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.particle {
  width: 4rem;
  height: 4rem;
  top: 5rem;
  left: 0;
  background-image: linear-gradient(to right, #874da2 0%, #c43a30 100%);
  background-size: 200%;
  position: absolute;
  animation: animate-particle 50s ease-out infinite;
  filter: blur(0.7rem);
  border-radius: 100%;
}
@keyframes animate-particle {
  0%,
  100% {
    border-radius: 10% 40% 60% 80%/80% 40% 20% 10%;
    background-position: 0% 50%;
    transform: translate(0);
  }
  40% {
    border-radius: 80% 40% 20% 10%/10% 40% 60% 80%;
    background-position: 50% 100%;
    transform: translate(50rem) rotate(180deg);
  }
  80% {
    border-radius: 90% 80% 40% 20%/60% 30% 20% 100%;
    transform: translate(18rem, 30rem);
  }
}

.particle-glow {
  /* background-image: linear-gradient(to right, #4b27ec 0%, #a3008d 100%); */
  background-image: linear-gradient(to right, #3212bd 0%, #702366 100%);
  width: 18rem;
  height: 18rem;
  position: absolute;
  top: 8rem;
  opacity: 0.6;
  filter: blur(10rem);
  animation: animate-glow 5s linear infinite;
  background-size: 200%;
}

@keyframes animate-glow {
  0%,
  100% {
    background-size: 0% 50%;
    opacity: 0.3;
  }
  50% {
    background-size: 50% 100%;
    opacity: 0.4;
  }
}

.particle-icon {
  width: 4rem;
  height: 4rem;
  top: 4rem;
  left: 0;
  background-color: transparent;
  background-size: 200%;
  position: absolute;
  animation: animate-particle 50s ease infinite;
  border-radius: 100%;
}
@keyframes animate-icon {
  0%,
  100% {
    border-radius: 10% 40% 60% 80%/80% 40% 20% 10%;
    background-position: 0% 50%;
    transform: translate(0);
  }
  40% {
    border-radius: 80% 40% 20% 10%/10% 40% 60% 80%;
    background-position: 50% 100%;
    transform: translate(50rem) rotate(180deg);
  }
  80% {
    border-radius: 90% 80% 40% 20%/60% 30% 20% 100%;
    transform: translate(18rem, 30rem);
  }
}
.particle-javascript {
  width: 4rem;
  height: 4rem;
  top: 4rem;
  right: 0;
  background-color: transparent;
  background-size: 200%;
  position: absolute;
  animation: animate-javascript 50s ease infinite;
  border-radius: 100%;
}

@keyframes animate-javascript {
  0% {
    border-radius: 10% 40% 60% 80%/80% 40% 20% 10%;
    transform: translate(0);
  }
  40% {
    border-radius: 80% 40% 20% 10%/10% 40% 60% 80%;
    transform: translate(-50rem) rotate(180deg);
  }
  80% {
    border-radius: 90% 80% 40% 20%/60% 30% 20% 100%;
    transform: translate(18rem, 50rem);
  }
}

.particle2 {
  background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
  width: 5rem;
  height: 5rem;
  position: absolute;
  border-radius: 100%;
  filter: blur(0.9rem);
  animation: move-particle ease 60s infinite;
}

@keyframes move-particle {
  0%,
  100% {
    opacity: 1;
    border-radius: 10% 40% 30% 30%;
    transform: translate(5rem, 2rem);
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0;
    background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
    border-radius: 60% 50% 20% 60%;
    transform: translate(60rem, 35rem);
  }
  50% {
    opacity: 1;
    background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
    border-radius: 60% 50% 20% 60%;
    transform: translate(60rem, 35rem);
  }
}
.particle3 {
  background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
  width: 5rem;
  height: 5rem;
  position: absolute;
  border-radius: 100%;
  filter: blur(0.5rem);
  opacity: 1;
  background-size: 200%;
  animation: move-particle3 ease 60s infinite;
}

@keyframes move-particle3 {
  0%,
  100% {
    border-radius: 58% 42% 21% 79% / 49% 59% 41% 51%;
    transform: translate(10rem, 100rem);
    opacity: 0.5;
    background-position: 0% 50%;
  }
  30% {
    background-position: 0% 50%;
    border-radius: 40% 60% 73% 27% / 35% 11% 89% 65%;
    transform: translate(50rem, -1rem);
    opacity: 1;
  }
  60% {
    background-position: 50% 100%;
    border-radius: 47% 53% 28% 72% / 85% 49% 51% 15%;
    transform: translateX(1rem);
  }
  80% {
    opacity: 0.1;
    border-radius: 40% 60% 73% 27% / 35% 11% 89% 65%;
  }
}
